body {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: $black;
	font-weight: 400;
	font-style: none;
}

a {
	-webkit-transition: (.4s ease-in-out);
	-moz-transition: (.4s ease-in-out);
	transition: (.4s ease-in-out);
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	-webkit-transition: (.4s ease-in-out);
	-moz-transition: (.4s ease-in-out);
	transition: (.4s ease-in-out);
	color: red;
}

.container-fluid {
	line-height: 24px;
}
